<div class="splash-screen">
   <img class="home-image" src="/images/beer.png">
   <button><a href="/beers">  Check the Beers!</a> </button>
   <button><a href="/rbuttonndom-beer">  Check a Random Beer!</a> </button>
</div>
