/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

body {
    margin: 0;
    font-family: Arial;
}

nav {
    background-color: #2081c3;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    box-shadow: 0px 0px 10px 0px black;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #f7f9f9;
}

.home-image {
    height: 250px;
    width: 250px;
    margin-bottom: 10px;
}

.splash-screen {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-screen button {
    background-color: #2081c3;
    border-radius: 5px;
    margin-top: 10px;
    height: 30px;
}

.splash-screen a {
    color: #f7f9f9;
    text-decoration: none;
    padding: 0px 15px 0px 15px;
    font-family: Arial;
}

.random-image {
    height: 200px;
    margin: 20px;
}

.each-beer {
    height: 400px;
    width: 300px;
}

.beer-list-rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* .beer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
} */

